body {
    position: relative;
    display: block;
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    height: 50px;
    background-color: lightgrey;
    flex-wrap: wrap;
    text-align: center;
}

footer {
    position: fixed;
    display: block;
    background-color: white;
    margin: 0;
    padding: 0;
}

div#logo-container {
    text-align: left;
    flex-grow: 1;
}

ul#menu {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

ul#menu li{
    display: inline;
}

img#logo {
    height: 50px;
}

div#prenom-nom {
    flex-grow: 1;
}

section#content {
    background-color: gainsboro;
    color: darkslategray;
}

.main {
    background-color: antiquewhite;
    text-align: center;
    color: black;
}

.notShowXS {
    display: block;
}


