body {
    color:black;
    background-color:white;
    background-image: url(images/fond.png);
    background-repeat: repeat-y;
    background-size: 1550px;
    background-attachment:fixed;
}

header {
    background-color: blanchedalmond;
    text-align: center;
}

#barre {
    margin-left: -300px;
    margin-right: -300px;
}

li {
    display: inline;
}

table {
   
    border-collapse: collapse;
}

th, td {
     border: black 1px solid;
}

h6 {
    text-align: center;
}